<html>
<head>
	<title>Федерация тай бокса КР</title>
	</head>
	<body>
    <p>Федерация тайского бокса КР.</p>
    <p>Состав сборной команды КР.</p>
    <div>
    	<h1><a href="/">Django Girls Blog</a></h1>
    </div>
    <div>
    	<p>published: 14.06.2014, 12:14</p>
    	<h2><a href="">My first post</a>a></h2>
    	<p>— тренер по тайскому боксу. Чемпион Мира по тайскому боксу 2019. Muay Thai WMF. Многократный Чемпион КР по тайскому боксу и МММ. Чемпион КР MMA.  Чемпион Азии по бирманскому боксу. Двукратный чемпион Европы. 3х кратный Чемпион Азии. Действующий боец Омской профессиональной организации Оnexone, 2 боя завершил нокаутом. Судья национальной категории.

Дата рождения: 21.11.1994 г.

Хобби: Горные лыжи, прыжки со скалы.

Книга: Книги анатомия, физиология, биохимия и биомеханика.

Слога: «Слоган что бы быть лучше нужно выйти из зоны комфорта».

Instagram: @white_wolf_club</p>
    </div>
    <div>
    	<p>бликация создана 21 января 2021</p>
    	<h2><a href="">мой личный блог</a></h2>
    	<p>
AVANGARD SPORT CLUB

ЭНЕРГИЯ ПЕРВЫХ

Контакты:
Ул. Токомбаева, 23/ Сухэ Батора
+996(550) 58 88 88
+996(312) 97 99 99
+996(550) 80 00 54
sales.avangardsport@gmail.com
Время работы:
Пн-Пт с 7.00 до 23.00
Сб-Вс (праздничные дни)
с 8.00 до 22.00
Выходной — 1 января.</p>
    </div>
</body>
</html>

    	
    