<html>
<head>
	<title>Федерация тай бокса КР</title>
	</head>
	<body>
    <p>Федерация тайского бокса КР.</p>
    <p>Состав сборной команды КР.</p>
    <div>
    	<h1><a href="/">Django Girls Blog</a></h1>
    </div>

    {%  for post in posts %}
    <div>
    	<p>published: {{ post.published_date }}</p>
    	<h2><a href="">{{post.title }}</a>a></h2>
    	<p>{{ post.text|linebreaksbr }}</p>
    </div>
    {% endfor %}
    <div>
    	<p>бликация создана 21 января 2021</p>
    	<h2><a href="">мой личный блог</a></h2>
    	<p>
AVANGARD SPORT CLUB

ЭНЕРГИЯ ПЕРВЫХ

Контакты:
Ул. Токомбаева, 23/ Сухэ Батора
+996(550) 58 88 88
+996(312) 97 99 99
+996(550) 80 00 54
sales.avangardsport@gmail.com
Время работы:
Пн-Пт с 7.00 до 23.00
Сб-Вс (праздничные дни)
с 8.00 до 22.00
Выходной — 1 января.</p>
    </div>
</body>
</html>

    	
    